<%- include('../partials/header.ejs') %>
<section class="chat">
  <h1>Chat-up</h1>
  <ul id="messages"></ul>
  <form action="">
    <input id="m" autocomplete="off" /><button>Send</button>
  </form>
</section>
<%- include('../partials/footer.ejs') %>
