body {
  background-color: #f4d7c9;
  font: 13px Helvetica, Arial;
  margin: 0;
  padding: 0;
}

h1 {
  background: #b3cae2;
  color: #2865aa;
  font-family: 'Heavitas';
  font-size: 2em;
  letter-spacing: 5px;
  margin: 0;
  padding: 10px;
}

form {
  background: #b3cae2;
  padding: 0.5em;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
}

form input {
  border: 0;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
  padding: 10px;
  width: 80%;
}

form button {
  background: #f4d7c9;
  border: none;
  border-radius: 0 5px 5px 0;
  /*font-size: 1.3em;*/
  padding: 10px;
  width: 20%;
}

.chat {
  background-color: #f8f8f8;
  margin: auto;
  max-width: 30em;
  height: 50em;
  position: relative;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
  word-break: break-all;
}

#messages li:nth-child(odd) {
  background: #eee;
}
